html, body {
  max-width: 100%;
  /* overflow-x: hidden; */
}

* {
  padding: 0;
  margin: 0;
}

::selection {
  color: black;
  background: white;
}

body {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);
  /* background-color: black; */
  color: white;
  display: flex;
  font-family: helvetica, sans-serif;
  font-size: 1.3em;
  line-height: 1.45em;
  margin:0.8em;
}

p{
  margin: 1em;
  width: 100%;
}

img{
  max-width: 47%;
  margin-left: 20.5px;
}

.collapsible {
  position: fixed;
  background: none;
  color: white;
  cursor: pointer;
  padding-top: 0.7em;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.3em;
  top: 30px;
}

.active, .collapsible:hover {

}

.content {
  position: fixed;
  width: 45%;
  padding-top: 3em;
  padding: 0 1em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: white;
}

li {
  line-height: 2em;
}

.thesis{
  padding-top: 3em;
  padding-left: 21em;
  width: 60%;
}
