html, body {
  max-width: 100%;
  /* overflow-x: hidden; */
}

* {
  padding: 0;
  margin: 0;
}



::selection {
  color: black;
  background: white;
}

@font-face {
    font-family: 'abc_whyte_edu_inktrapbook';
    src: url('abcwhyteeduinktrap-book.woff2') format('woff2'),
         url('abcwhyteeduinktrap-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 62%, rgba(112,112,112,1) 85%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
  /* background-color: black; */
  color: white;
  display: flex;
  font-family: 'abc_whyte_edu_inktrapbook';
  font-size: 1.3em;
  line-height: 1.45em;
  /* max-height:none; */
}

.dot {
  opacity: 1;
  animation: flickerDot 10s linear  reverse infinite;
  cursor: pointer;
}

.dot::after {
  content: '';
  width: 150%;
  -webkit-box-shadow: -5px 0px 60px 8px rgba(255,255,255,1);
}
/*
.small span{
  animation: flickerDot 5s linear infinite;
} */


li a {
  text-decoration: none;
  color: white;
}

a:visited {
    color:white;
}

@keyframes flickerDot {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0.3;
  }
}


.thesis span {
  /* visibility: hidden; */
}

p{
  margin: 1em;
  width: 100%;
}

.answer {
  width: 90%;
  padding-left: 3em;
}


.thesis p span {
  visibility: visible;
}

img{
  display: block;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.top {
  height: 120px;
  width: 100%;
  z-index: 10;
  background: linear-gradient(180deg, rgba(0,0,0,1) 10%, transparent 100%);
  position: fixed;
  top: -200px;
  display: block;
  transition: top 0.3s;
}

.title {
  height: 1.6em;
}


#toc {
    background-color: black;
    margin: 0.5em;
    border-radius: 10px;
}

.collapsible {
  font-size: 0.7em;
  height: 2em;
  padding: 0.3em;
  /* position: absolute; */
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  display: inline-block;
  border: 2px solid white;
}


.content {
  position: fixed;
  height: 20em;
  font-size: 0.6em;
  /* padding-top: 3em; */
  padding: 0 1em;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: white;
  display: none;
  border: 2px solid white;
}

.landing {
  width: 90%;
  left: 4.7vw;
  border-radius:  50%;
  box-shadow:  0px 17px 20px rgba(255, 255, 255, 1);
  margin-top: -4em;
  position: absolute;
  padding-top: 5.4em;
  padding-bottom: 2em;
  display: block;
}

.center {
  text-align: center;
}

.big {
  width: inherit;
  font-size: 10vw;
  line-height: 1em;
  /* display: inline-flex; */
  }

#big span {
  opacity: 0.04;
  cursor: pointer;
  -webkit-text-stroke:1px white;
}


.fill {
  transition: 0.5s all;
  transition-delay: 3s;
  -webkit-transition-delay: 3s;
  -moz-transition-delay: 3s;
  -ms-transition-delay: 3s;
  -o-transition-delay: 3s;
}

#big span:hover, #big span:active {
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}


.small {
    padding: 0.14em;
      font-size: 3.4vw;
      line-height: 2em;
      /* display: inline-flex; */
      animation: flickerDot 5s linear  reverse infinite;
      }



.thesis{
  margin-top: 45%;
  left:32%;
    padding-left: 13em;
    /* padding-right: 2em; */
  width: 60%;
}

.caption {
  display: block;
  text-align: center;
  /* width: 100%; */
  padding-bottom: 1em;
}


                        @media only screen and (max-width: 920px) {
                          #toc {
                            font-size:0.43em;
                            /* margin: 0.5em; */
                          }

                          .button .collapsible{
                            height: 3em;
                          }


                          .title{
                            font-size: 0.8em;
                            line-height: 1.1em;
                            height: 3em;
                          }

                          .button {

                            margin-top: 0.6em;
                          }


                          .content{
                            height: 20em;
                          }

                          .landing {
                            padding-top: 4.4em;
                            padding-bottom: 1em;
                          }

                          .big{
                            font-size: 2.3em;
                          }

                          #big span {
                            opacity: 0.1;
                          }

                          .thesis {
                            width: 100%;
                            padding: 1em;
                            padding-top: 6em;
                            padding-right: 2.5em;
                            font-size: 0.8em;
                            line-height: 1.4em;
                          }

                          .footnote {
                              top: 90vh;
                              font-size: 0.8em;
                          }

                          h5{
                            font-size: 0.5em;
                            line-height: 2em;
                          }

                          .answer {
                            width: 90%;
                            padding-left: 1em;
                          }

                        }




          /* menubutton */

          .bar1, .bar2, .bar3 {
            width: 35px;
            border-radius: 15px;
            height: 5px;
            background-color: white;
            margin: 6px 0;
            margin-top: 3px;
            transition: 0.4s;
          }

          .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
          }

          .change .bar2 {opacity: 0;}

          .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
          }


          li {
            line-height: 2em;
          }


          /* dot_hidden */

            .abstract{
                visibility: hidden;
            }

            .prologue{
                visibility: hidden;
            }

            .ch2{
                visibility: hidden;
            }

            .ch3{
                visibility: hidden;
            }

            .Epilogue{
                visibility: hidden;
            }

            .References{
                visibility: hidden;
            }


.footnote {
  width: 90%;
  height: 30%;
  padding: 0px 0;
  position: fixed;
  top: 85vh;
  left: 4.5vw;
  border-radius:  50%;
  background-color: rgba(24, 24, 24);
  color: white;
  text-align: center;
  line-height: 1.1em;
  visibility:  hidden;
}

.footnote a{
  text-decoration: underline;
  color: white;
}


h3 {
  padding-top: 0.5em;
}


h5 {
  padding-top: 5%;
  padding-left:10%;
  padding-right:10%;
  font-weight: lighter;
}


.footnote_small{
  vertical-align: super;
  font-size: smaller;
}

#footnote{
  text-decoration: underline;
}

#footnote:hover {
  cursor:pointer;
}
