html, body {
  max-width: 100%;
  /* overflow-x: hidden; */
}

* {
  padding: 0;
  margin: 0;
}

::selection {
  color: black;
  background: white;
}

body {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);
  /* background-color: black; */
  color: white;
  display: flex;
  font-family: helvetica, sans-serif;
  font-size: 1.3em;
  line-height: 1.45em;
}

.dot {
  opacity: 1;
  animation: flickerDot 10s linear  reverse infinite;
}

.dot::after {
  content: '';
  width: 150%;
  -webkit-box-shadow: -5px 0px 60px 8px rgba(255,255,255,1);
  -moz-box-shadow: -5px 0px 60px 8px rgba(255,255,255,1);
  box-shadow: -5px 0px 60px 8px rgba(255,255,255,1);
}




@keyframes flickerDot {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }

  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }

  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}


.thesis span {
  /* visibility: hidden; */
}

p{
  margin: 1em;
  width: 100%;
}

.thesis p span {
  visibility: visible;
}

img{
  max-width: 100%;
  margin-left: 20.5px;
}

.top {
  height: 200px;
  width: 100%;
}

.title {
  height: 1.6em;
}

@media only screen and (max-width: 920px) {
  #toc {
    font-size:0.43em;
    margin: 0.5em;
  }

  .title{
    font-size: 0.8em;
    line-height: 1.1em;
    height: 4em;
  }

  .content{
    height: 40em;
  }

}

#toc {
    background-color: black;
    margin: 0.5em;
}

.collapsible {
  font-size: 0.7em;
  height: 2em;
  padding: 0.3em;
  /* position: absolute; */
  color: white;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
}


.content {
  position: fixed;
  height: 40em;
  font-size: 0.6em;
  /* padding-top: 3em; */
  padding: 0 1em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: white;
}

li {
  line-height: 2em;
}



.thesis{
  padding-top: 6em;
  padding-left: 23em;
  padding-right: 2em;
  width: 60%;
}


@media only screen and (max-width: 920px) {
  .thesis {
    width: 100%;
    padding: 1em;
    padding-top: 14em;
    padding-right: 2.5em;
    font-size: 0.8em;
    line-height: 1.4em;
  }
}


.abstract{
    visibility: hidden;
}

.prologue{
    visibility: hidden;
}




#footnote{
  vertical-align: super;
  font-size: smaller;
}

#footnote:hover {
  cursor:pointer;
}
