html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: black;
}

* {
  padding: 0;
  margin: 0;
}

::selection {
  color: black;
  background: white;
}

body {
  color: white;
  display: block;
  font-family: helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.25em;
}
